<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>620115672656708</sid>
    <event-sheet>Menu sheet</event-sheet>
    <size>
        <width>405</width>
        <height>574</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="882293819057284">
            <initially-visible>1</initially-visible>
            <background-color>0,102,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="HTMLIFrame" uid="9">
                    <properties>
                        <id-optional>files</id-optional>
                        <class-optional></class-optional>
                        <initial-visibility>Visible</initial-visibility>
                        <tooltip></tooltip>
                        <background>transparent</background>
                        <border></border>
                        <scroll>No</scroll>
                        <object>HTML</object>
                        <iframe></iframe>
                        <url></url>
                        <html></html>
                        <code></code>
                        <color></color>
                        <text-selectable>No</text-selectable>
                        <auto-font-size>Default</auto-font-size>
                        <import></import>
                        <css-import></css-import>
                        <javascript-import></javascript-import>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>259</x>
                        <y>38</y>
                        <z>0</z>
                        <width>146</width>
                        <height>500</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                    </world>
                </instance>
                <instance type="settings" uid="17">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>389</x>
                        <y>558</y>
                        <z>0</z>
                        <width>31</width>
                        <height>31</height>
                        <depth>0</depth>
                        <hotspotX>0.516129017</hotspotX>
                        <hotspotY>0.516129017</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="List" uid="19">
                    <properties>
                        <items></items>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <type>List box</type>
                        <multi-select>No</multi-select>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>11</x>
                        <y>38</y>
                        <z>0</z>
                        <width>247</width>
                        <height>500</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Disk" uid="20">
                    <properties>
                        <value>0</value>
                        <maximum>100</maximum>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <id-optional></id-optional>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>11</x>
                        <y>7</y>
                        <z>0</z>
                        <width>247</width>
                        <height>25</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="SearchBox" uid="21">
                    <properties>
                        <text></text>
                        <placeholder>Search</placeholder>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>Yes</spell-check>
                        <type>Text</type>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>11</x>
                        <y>545</y>
                        <z>0</z>
                        <width>247</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances>
        <instance type="XML2" uid="26" />
    </nonworld-instances>
    <effects />
</c2layout>
